@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}
.linha {
    width: 100%;
    height: 5px;
    background-color: #000;
}
header {
    position: fixed;
    z-index: 2;
    width: 100%;
}
body {
    background-color: #000;
}
nav a {
    letter-spacing: 1px;
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
    font-size: 40px;
    align-items: center;
    justify-content: center;
}


nav a:hover {
    color: #daa520;
}

nav img:hover {
    opacity: 0.8;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter';
    font-weight: 600;
    background-color: #141414;
    height: 17vh;
    width: 100%;
}

nav img{
        max-width: 10rem;
        margin-left: 32px;
        margin-top: 10px;
}
.nav-list {
    list-style: none;
    display: flex;
    margin-right: -30px;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 35px;
    margin-right: 32px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    
}

.usuario img{
    display: flex;
    flex-direction: column;
    max-width: 8rem;
    margin-right: 25px;
    height: 90px;
}
.usuario p{
    font-size: 20px;
    text-align: center;
    padding-left: 5px;
    position: relative;
    bottom: 15px;
}

main {
    background-color: #000;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
   
}
.box-quiz{
    width: 600px;
    height: 400px;
    background-color: #141414;
    border-radius: 20px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    
}
.quiz{
    padding: 20px 0;

}

.quiz h2{
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    margin-left: 30px;
    font-size: 25px;
    font-family: 'Inter';
}

.btn{
    background: #fff;
    color: #222;
    font-weight: bold;
    width: 500px;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    margin-left: 50px;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background: transparent;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    border: 1px solid #daa520;
    font-family: 'Inter';
    transition: 0.7s;
}
#next-btn:hover{
    background-color: #daa520;
}

.correct{
    background: #9aeabc;

}

.Incorrect{
    background: #ff9393;
}

.texto-quiz{
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-family: 'Inter';
    color: white;
    text-align: center;
    margin-top: 50px;
    width: 370px;
    margin-left: 110px;
    font-size: 22px;
}

.botao-iniciar{
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 50px;
}

.botao-iniciar button{
    border-radius: 30px;
    width: 100px;
    height: 50px;
    background-color: transparent ;
    border: 1px solid #daa520;
    color: white;
    font-family: 'Inter';
    transition: 0.7s;
    font-size: 17px;
    cursor: pointer;
}
.botao-iniciar button:hover{
    background-color: #daa520;
}

.box-media{
    width: 200px;
    height: 300px;
    background-color: #141414;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    color: #ffffff;
    margin-left: 50px;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}
.box-media h1{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Inter';
    font-size: 30px;
    align-items: center;

}

.box-media h2{
    width: 190px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Inter';
    font-size: 30px;
    align-items: center;

}

.box-rank{
    width: 600px;
    height: 550px;
    background-color: #141414;
    border-radius: 20px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
   
}

.texto-rank{
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-family: 'Inter';
    color: white;
    text-align: center;
    margin-top: 50px;
    width: 370px;
    margin-left: 110px;
    font-size: 22px;
}

.botao-rank{
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
}

.botao-rank button{
    border-radius: 30px;
    width: 100px;
    height: 50px;
    background-color: transparent ;
    border: 1px solid #daa520;
    color: white;
    font-family: 'Inter';
    transition: 0.7s;
    font-size: 17px;
    cursor: pointer;
}
.botao-rank button:hover{
    background-color: #daa520;
}
