@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    background-color: black;
}

.box-cadastro {
    width: 800px;
    height: 490px;
    border-radius: 20px;
    border: 2px solid #daa520;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-l {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    flex-direction:column
}
.box-l img {
    width: 300px;
}
.box-l a{
    font-family: 'Inter';
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.linha {
    width: 2px;
    height: 100%;
    background-color: #daa520;
    ;
}
.box-r {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.box-input {
    margin-left: 55px;
}
.box-input p {
    color: white;
    font-family: 'Montserrat';
    margin: 14px;
}
.box-input select{
    width: 150px;
    height: 25px;
    border-radius: 15px;
    border: 1px solid #daa520;
    background-color: transparent;
    color: #daa520;
    font-size: 14px;
    font-family: 'Inter';
}
.box-input option{
    font-family: 'Inter';
    color: #daa520;
    background-color: black;
}
.box-input input {
    width: 280px;
    border: none;
    height: 20px;
    border-bottom: 1px solid #daa520;
    background-color: transparent;
    color: white;
    font-size: 16px;
}

.box-input input:focus {
    outline: none;
}
.box-r button {
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid #daa520;
    background-color: transparent;
    color: #daa520;
    font-size: 14px;
    font-weight: 500;
    margin-top: 30px;
    margin-left: 95px;
    font-family: 'Inter';
    transition: 0.7s;
    margin-top: 10px;
}

.box-r button:hover{
    background-color: white;
}


#modal_cadastro{
    width: 200px;
    height: 150px;
    background-color: #141414;
    border-radius: 10px;
    border: 2px solid #daa520;
    position: absolute;
    bottom: 500px;
    left: 900px;
}

.modal{
    width: 100%;
    border-radius: 10px;
    background-color: #141414;
    color: white;
    border: #daa520;
    font-family: 'Montserrat';
    font-size: 15px;
    text-align: center;
}

i{
    transform: scale(2);
}
